In [186]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

#Ejercicio de Pandas:

Usa los dos archivos csv de la carpeta para completar las tareas que aparecen en negrita a continuación, responder sólo en la línea que aparece.

**Usar una celda de código**

Importar pandas and leer el archivo banklist.csv en una estructura de dataframe llamada bancos.

In [187]:
import pandas as pd
bancos = pd.read_csv('/content/banklist.csv')

**Muestre las 10 primeras filas del dataframe**

In [188]:
bancos.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16

**Imprima el nombre de las columnas**

In [189]:
# Imprimir los nombres de las columnas de bancos
print(bancos.columns.tolist())

['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

**Obtener una lista o matriz de todos los estados en el conjunto de datos, sin repetición, ordenados de la A a la Z**

In [190]:
# Obtener la lista de estados únicos, ordenados alfabéticamente
estados = sorted(bancos['ST'].unique())

# Mostrar todos los estados en el conjunto de datos
print(estados)

['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'MI', 'MN', 'MO', 'MS', 'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI', 'WV', 'WY']

**¿Cuáles son los 5 estados con más bancos fallidos?**

In [191]:
# Contar la cantidad de bancos fallidos por estado y ordenar en orden descendente
estados_mas = bancos['ST'].value_counts().head(5)

# Mostrar los 5 estados con más bancos fallidos
print(estados_mas)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

**¿Cuáles son las 5 principales instituciones adquirentes?**

In [192]:
# Contar la cantidad de adquisiciones por cada institución y ordenar en orden descendente
adquirentes5 = bancos['Acquiring Institution'].value_counts().head(6).tail(5) # La primera es sin adquirientes, por lo que se quita

# Mostrar las 5 principales instituciones adquirentes
print(adquirentes5)

Acquiring Institution
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Community & Southern Bank               8
Name: count, dtype: int64

**¿Cuántos bancos ha adquirido el State Bank of Texas? ¿Cuántos de ellos estaban realmente en Texas?**

In [193]:
# Filtrar los bancos adquiridos por el 'State Bank of Texas'
adquiridos_sbt = bancos[bancos['Acquiring Institution'] == 'State Bank of Texas']

# Contar el número total de adquisiciones
total = adquiridos_sbt.shape[0]

# Filtrar por aquellos que estaban en el estado de Texas
en_texas = adquiridos_sbt[adquiridos_sbt['ST'] == 'TX'].shape[0]

# Mostrar los resultados
print(f"Total de bancos adquiridos por el State Bank of Texas: {total}")
print(f"Bancos adquiridos que estaban en Texas: {en_texas}")

Total de bancos adquiridos por el State Bank of Texas: 3
Bancos adquiridos que estaban en Texas: 1

**¿Cuál es la ciudad más común en California donde un banco quiebra?**

In [194]:
# Filtrar los bancos que están en California (estado 'CA')
bancos_california = bancos[bancos['ST'] == 'CA']

# Encontrar la ciudad más común y cuántos bancos han quebrado allí
ciudad_mas_comun = bancos_california['City'].value_counts().idxmax()
cantidad_en_ciudad = bancos_california['City'].value_counts().max()

# Mostrar la ciudad más común y la cantidad de bancos que han quebrado allí
print(f"La ciudad más común en California donde un banco quiebra es: {ciudad_mas_comun}")
print(f"Número de bancos que han quebrado en {ciudad_mas_comun}: {cantidad_en_ciudad}")

La ciudad más común en California donde un banco quiebra es: Los Angeles
Número de bancos que han quebrado en Los Angeles: 4

**¿Cuántos nombres de bancos comienzan con la letra 's'?**

In [195]:
# Filtrar los nombres de bancos que comienzan con la letra 'S'
bancos_con_s = bancos[bancos['Bank Name'].str.startswith('S')]

# Contar cuántos bancos comienzan con la letra 'S'
cantidad_bancos_con_s = bancos_con_s.shape[0]

# Mostrar el resultado
print(f"El número de bancos cuyos nombres comienzan con la letra 'S' es: {cantidad_bancos_con_s}")

El número de bancos cuyos nombres comienzan con la letra 'S' es: 53

**¿Cuántos bancos consisten en dos palabras? Ej. "First Bank" , "Bank Georgia"**

In [196]:
# Contar cuántos bancos tienen nombres que consisten en dos palabras
bancos_dos_palabras = bancos['Bank Name'].str.split().apply(len) == 2

# Contar el número de bancos que cumplen con la condición
cantidad = bancos_dos_palabras.sum()

# Mostrar el resultado
print(f"El número de bancos cuyos nombres consisten en dos palabras es: {cantidad}")

El número de bancos cuyos nombres consisten en dos palabras es: 114

**¿Cuántos bancos quebrados no tienen la palabra "Banco" en su nombre?**

In [197]:
# Filtrar los bancos cuyos nombres no contienen la palabra 'Banco'
bancos_sin_banco = bancos[~bancos['Bank Name'].str.contains('Banco', case=False)]

# Cual es el que tiene 'Banco' en su nombre
bancos_con_banco = bancos[bancos['Bank Name'].str.contains('Banco', case=False)]
bancos_con_banco = bancos_con_banco['Bank Name'].str.cat(sep=', ')

# Contar el número de bancos que no tienen la palabra 'Banco' en su nombre
cantidad_sin_banco = bancos_sin_banco.shape[0]

# Mostrar el resultado
print(f"El número de bancos quebrados que no tienen la palabra 'Banco' en su nombre es: {cantidad_sin_banco}")

# Mostrar el nombre del que si tiene 'Banco'
print(f"El nombre del que si tiene 'Banco' en su nombre es: {bancos_con_banco}")

El número de bancos quebrados que no tienen la palabra 'Banco' en su nombre es: 550
El nombre del que si tiene 'Banco' en su nombre es: CF Bancorp

**¿Cuántos bancos cerraron en el año 2008?**

In [198]:
# Convertir la columna 'Closing Date' a formato datetime
bancos['Closing Date'] = pd.to_datetime(bancos['Closing Date'])

# Filtrar los bancos que cerraron en el año 2008
bancos_2008 = bancos[bancos['Closing Date'].dt.year == 2008]

# Contar el número de bancos que cerraron en 2008
cantidad_2008 = bancos_2008.shape[0]

# Mostrar el resultado
print(f"El número de bancos que cerraron en 2008 es: {cantidad_2008}")

El número de bancos que cerraron en 2008 es: 25